body{
    transition: all 1s;
}
main{
    padding: 30px;
}
.title{
    font-size: 70px;
    border-bottom: 2px solid black;
}
p{
    line-height: 30px;
    letter-spacing: 2px;
}
.empBold{
    font-weight: bold;
}
.empLineUnder{
    text-decoration: underline;
    box-sizing: border-box;
}
.empBig{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
